<h3 class="deal-title">{{title}}</h3>
<p class="deal-category">{{category}}</p>
<p class="deal-description">{{description}}</p>
<p class="deal-expiration-date">{{expiration_date}}</p>
<img src="{{image_url}}" class="deal-image">
