<div id={{id}}>
	<h3 class="deal-title">Title: {{title}}</h3>
	<p class="deal-category">Category: {{category}}</p>
	<span class="deal-description">Description: {{description}}</span>
	<p class="deal-expiration-date">Expiration Date: {{expiration_date}}</p>
	<img src="{{image_url}}" class="deal-image">
</div>