<div id={{id}}>
	<h3 class="deal-title">Title: {{title}}</h3>
	<p class="deal-category">Category: {{category}}</p>
	<span class="deal-description">Description: {{description}}</span>
	<p class="deal-expiration-date">Expiration Date: {{expiration_date}}</p>
	<img src="{{image_url}}" class="deal-image">
	<h4 class="deal-url"><a href="{{purchase_url}}" target="_blank">Purchase the Deal</a></h4>
</div>