<div id={{id}}>
	<h3 class="user-name"><strong>Name: </strong>{{name}}</h3>
	<img src="{{photo}}" class="img-circle">
	<p class="user-age"><strong>Age: </strong>{{age}}</p>
	<p class="user-interest-category"><strong>Interest Category: </strong>{{interest_category}}</p>
</div>

